:root {
	--text: "Roboto", sans-serif;
	--title: "Anton", sans-serif;
	--color-one: rgb(223, 51, 182);
	--color-two: rgb(176, 28, 142);
	--color-three: rgb(8, 0, 34);
	--color-four: rgb(23, 236, 255);
}

@media only screen and (max-width: 768px) {
	.form_one,
	.form_two,
    .form_three,
    .form_four,
    .form_five,
	.content img,
	#img-twice,
	h1#mainTitle,
	#games #nuzlockPokemon img,
	#games #loupGarou img,
	#games #valorant img,
	#compte_a_rebours{
		display: none;
	}

    .hamburger-menu{
        display: block;
    }

	main {
		padding: 0;
		width: 100%;
	}

	#presentation h3 {
		margin: 0;
	}

	#streamers {
		padding: 0;
	}

	#streamers #grid {
		display: block;
	}

	p,
	li,
	a {
		margin: 0;
		font-size: 8px;
	}

	/****************************************************************************************************************************/

	header {
		display: block;
		text-align: center;
		padding: 0;
	}

	header nav {
		display: none;
	}

	header img {
		width: 40%;
		margin: 100px 0px 15px;
	}

	#mainText,
	#presentation p {
		margin: 0;
		font-size: 8px;
	}

	#presentation h3 {
		font-size: 16px;
		margin: 20px 10px;
	}

	#streamers {
		text-align: center;
	}

	#streamers h3 {
		font-size: 24px;
		padding: 10px 0px;
	}

	#streamers #grid .content {
		margin: 0;
		text-align: center;
	}

	#streamers #grid .content img {
		margin: 10px auto;
		width: 30%;
		display: block;
	}

	#streamers #grid .content h3 {
		font-size: 24px;
	}

	#streamers #grid .content .btn {
		padding: 0;
	}

	#streamers #grid .content .btn a {
		padding: 5px 10px;
		font-size: 8px;
	}

	footer {
		padding: 20px 40px;
	}

	footer ul li a {
		font-size: 8px;
	}

	footer #externes ul li a img {
		width: 20%;
	}

	.text_footer p {
		font-size: 8px;
	}

	#games #nuzlockPokemon {
		display: block;
	}

	#games #loupGarou {
		display: block;
	}

	#games #valorant {
    display: block;
  }

  #games #nuzlockPokemon .content,
  #games #loupGarou .content,
  #games #valorant .content {
    margin: 0px 20px;
  }

  #games #nuzlockPokemon .content h4,
  #games #loupGarou .content h4,
  #games #valorant .content h4 {
    font-size: 16px;
    text-align: center;
  }

  #games #nuzlockPokemon .content ul,
  #games #loupGarou .content ul,
  #games #valorant .content ul {
    margin: 20px 30px;
  }

  #games #nuzlockPokemon .content p,
  #games #loupGarou .content p,
  #games #valorant .content p {
    margin-top: 20px;
  }

  #games #loupGarou {
    margin: 40px 0px;
  }

  #games #valorant {
    margin: 40px 0px;
  }

    #creators h2{
        font-size: 24px;
    }

    #creators h3{
        font-size: 16px;
    }

    #creators p{
        margin: 20px 0px;
    }

    #creators ul{
        margin: 10px 0px;
    }

    #creators ul li img{
        width: 50px;
    }

    .lucanemone, .zeph, .master, .PandaVif, .biskar, .kilerz, .vicxine{
        margin: 0px 20px;
    }

	/*****************************************************************************************************************************/

	#menu__toggle {
		opacity: 0;
	}

	#menu__toggle:checked ~ .menu__btn > span {
		transform: rotate(45deg);
	}

	#menu__toggle:checked ~ .menu__btn > span::before {
		top: 0;
		transform: rotate(0);
	}

	#menu__toggle:checked ~ .menu__btn > span::after {
		top: 0;
		transform: rotate(90deg);
	}

	#menu__toggle:checked ~ .menu__box {
		visibility: visible;
		left: 0;
	}

	.menu__btn {
		display: flex;
		align-items: center;
		position: fixed;
		top: 20px;
		left: 20px;
		width: 26px;
		height: 26px;
		cursor: pointer;
		z-index: 1;
	}

	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
		display: block;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: white;
		transition-duration: 0.25s;
	}
	.menu__btn > span::before {
		content: "";
		top: -8px;
	}
	.menu__btn > span::after {
		content: "";
		top: 8px;
	}

	.menu__box {
		display: block;
		position: fixed;
		visibility: hidden;
		top: 0;
		left: -100%;
		width: 300px;
		height: 100%;
		margin: 0;
		padding: 80px 0;
		list-style: none;
		background-color: var(--color-one);
		transition-duration: 0.25s;
	}

	.menu__item {
		display: block;
		padding: 12px 24px;
		color: var(--color-three);
		font-family: "Roboto", sans-serif;
		font-size: 20px;
		font-weight: 600;
		text-decoration: none;
		transition-duration: 0.25s;
	}
	.menu__item:hover {
		background-color: #cfd8dc;
	}
}
