:root {
	--text: "Roboto", sans-serif;
	--title: "Anton", sans-serif;
	--color-one: rgb(223, 51, 182);
	--color-two: rgb(176, 28, 142);
	--color-three: rgb(8, 0, 34);
	--color-four: rgb(23, 236, 255);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.hamburger-menu{
	display: none;
}

body {
	background: var(--color-three);
	overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
	font-family: var(--title);
	font-weight: 100;
	color: var(--color-one);
}

p,
li,
a {
	font-family: var(--text);
	color: white;
}

h3 {
	font-size: 24px;
}

.form_one {
	position: absolute;
	top: -20%;
	left: -2%;
	z-index: -6;
	width: 100px;
	height: 100%;
	transform: rotate(20deg);
	background-color: var(--color-one);
}

.form_two {
	position: absolute;
	top: 60%;
	right: -40%;
	width: 70%;
	z-index: -6;
	transform: rotate(20deg);
}

.form_three {
	position: absolute;
	top: 180%;
	left: -40%;
	width: 70%;
	z-index: -6;
	transform: rotate(20deg);
}

.form_four {
	position: absolute;
	top: 280%;
	right: -40%;
	width: 70%;
	z-index: -6;
	transform: rotate(20deg);
}

.form_five {
	position: absolute;
	top: 380%;
	left: -40%;
	width: 70%;
	z-index: -6;
	transform: rotate(20deg);
}

#games h1#mainTitle,
#presentation h1#mainTitle,
#creators h1#mainTitle {
	margin: auto;
	background-color: transparent;
	text-align: center;
	font-size: 32px;
	text-decoration: none;
	padding: 0px 0px 50px;
	font-weight: 100;
	color: white;
}

.text_footer {
	text-align: center;
	background-color: black;
}

.text_footer p {
	margin: 0;
}

.text_footer img {
	width: 1%;
}

/****************************************************************************************************************************/

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 70px 100px;
}

header img {
	width: 15%;
}

header nav ul li {
	display: inline;
	list-style: none;
}

header nav ul li a {
	text-decoration: none;
	color: var(--color-one);
	margin: 10px;
	padding: 5px;
	border-radius: 2px;
	border: solid 1px var(--color-one);
}

header nav ul li a:hover {
	background: var(--color-one);
	color: white;
}

/****************************************************************************************************************************/

main {
	padding: 0px 200px;
}

/****************************************************************************************************************************/

#presentation .content {
	display: flex;
	align-items: center;
}

#presentation .content img {
	width: 5%;
	height: 5%;
	transform: translateX(120px) translateY(-29px);
}

#presentation .content img#img-twice {
	transform: translateX(-120px) translateY(-29px);
}

#presentation h3 {
	text-decoration: underline;
	text-align: center;
	font-size: 24px;
	font-weight: 200;
	color: white;
	background: var(--color-one);
	margin: 0px 320px;
}

#presentation p {
	padding: 0px 50px;
	padding-bottom: 20px;
	text-align: justify;
}

/****************************************************************************************************************************/

#streamers {
	padding: 50px 100px;
	text-align: center;
}

#streamers h3 {
	font-size: 48px;
	padding: 50px 0px;
	color: white;
	border-top: solid;
	border-bottom: solid;
}

#streamers #grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

#streamers #grid .content {
	padding: 10px;
	margin: 10px 90px;
}

#streamers #grid .content h3 {
	font-size: 32px;
	padding-bottom: 10px;
	border: none;
}

#streamers #grid .content .btn {
	padding: 20px 0px;
}

#streamers #grid .content .btn a {
	text-decoration: none;
	color: white;
	background: var(--color-one);
	padding: 10px 20px;
}

#streamers #grid .content img {
	width: 50%;
}

/****************************************************************************************************************************/

#games .content img{
	width: 5%;
	height: 5%;
	transform: translate(200px, 45px);
}

#games .content img#img-twice{
	transform: translate(860px, -93.5px);

}

#games #nuzlockPokemon {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	justify-items: center;
}

#games #nuzlockPokemon img {
	width: 70%;
}

#games #nuzlockPokemon .content h4 {
	font-size: 24px;
}

#games #nuzlockPokemon .content ul {
	margin: 0px 100px;
}

#games #loupGarou {
	margin: 100px 0px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	justify-items: center;
}

#games #loupGarou img {
	width: 50%;
}

#games #loupGarou .content h4 {
	font-size: 24px;
}

#games #loupGarou .content ul {
	margin: 0px 100px;
}

/****************************************************************************************************************************/

#creators .title {
	text-align: center;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	letter-spacing: 2px;
}

#creators h2 {
	padding: 10px;
	background: url("../img/FondDecranTitle.jpg");
	background-size: cover;
	background-position: center;
	-webkit-background-clip: text;
	color: #ffffff14;
	text-transform: uppercase;
	font-size: 60px;
	font-weight: 900;
	letter-spacing: 1px;
	user-select: none;
	text-align: center;
	font-weight: 100;
}

#creators ul {
	display: flex;
	justify-content: space-around;
	margin: 50px 0px 50px 0px;
}

#creators ul li {
	list-style: none;
}

/****************************************************************************************************************************/

footer {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	padding: 70px 100px;
	background: black;
	color: white;
}

footer ul li {
	display: inline;
	list-style: none;
}

footer ul li a {
	text-decoration: none;
	color: white;
}

/****************************************************************************************************************************/

.container-mention {
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	width: 1400px;
}

.container-mention .content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	align-items: center;
	gap: 100px;
}

.container-mention h1 {
	margin: 20px 0px 30px;
	text-align: center;
}

.container-mention p.date {
	position: absolute;
	top: 10%;
	text-align: center;
}

.container-mention p.description {
	margin: 100px 0px;
}

.container-mention h2 {
	margin-top: 10px;
	margin-bottom: 20px;
}

.container-mention p:not(p.description) {
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	width: 320px;
}

.editeur,
.hebergeur,
.site,
.donnees,
.cookie,
.propriete {
	width: 350px;
}

.editeur h2,
.hebergeur h2,
.site h2,
.donnees h2,
.cookie h2,
.propriete h2 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

p {
	margin: 20px;
}

p a.back-to-home {
	text-decoration: none;
	color: white;
	background: black;
	padding: 10px;
}
